<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>com.codecool.krk.servlets.MovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PornstarServlet</servlet-name>
        <servlet-class>com.codecool.krk.servlets.PornstarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.codecool.krk.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>com.codecool.krk.servlets.ViewServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.codecool.krk.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextServlet</servlet-name>
        <servlet-class>com.codecool.krk.servlets.TextFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TextServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextServlet</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movie/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PornstarServlet</servlet-name>
        <url-pattern>/pornstar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PornstarServlet</servlet-name>
        <url-pattern>/pornstar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
</web-app>
